<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo-bar-container">
                    <div class="logo">
                        <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                    </div>

                    <!-- <div class="searchBar">
                        <div class="form" action="#searchBar"></div>
                    </div>
 -->                
                    <div class="search">
                    <div class="form" action="#" method="GET">
                        <input type="search" name="searchBar" placeholder="Buscar productos, marcas">
                        <div class="submit"><i class="fa fa-search"></i></div>
                    </div>
                    </div>
                     
                </div>
                 <div class="card-container">
                    <p class="center"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>    
                  
        </div>

        
        

        <nav class="nav">
            <ul class="firstl">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="secondl">
                <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-id-card"></i>
                </li>
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i>
                </li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>

        <div class="smenu">
            <div class="menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main class="register">
        <form action="/" method="POST" class="form-register">
            <input type="text" name="name" placeholder="Nombre y apellido">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="email" name="email" placeholder="E-mail">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <br>
            <input type="date" name="birth_date" id="birth_date">
            <br>
            <input type="text" name="addres" placeholder="Domicilio">
            <h4>Perfil del usuario</h4>
            <div class="profile">
                <input type="radio" name="profile" value="buy" id="buy">
                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
            </div>

            <h4>Intereses</h4>
            <div class="interests">
                <div>
                    <input type="checkbox" name="interests" value="a" id="a">
                    <label for="a">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="b" id="b">
                    <label for="b">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="c" id="c">
                    <label for="c">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="d" id="d">
                    <label for="d">Juguetería</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="e" id="e">
                    <label for="e">Vida sana</label>
                </div>
            </div>

            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar">
            <br>
            <br>
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            <br>
            <br>
            <button class="btn" type="submit">Enviar</button>
            <button class="btn-secondary" type="reset">Borrar</button>
            <br>
            <br>
        </form>
    </main>
    <footer>
        <div class="info">
        <section>
            <article>
                <div class="card">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="tfoot">Pagá con tarjeta o en efectivo</h4>
                <p class="pfoot">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </section>
        <section>
            <article>
                <div class="gif">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="tfoot">Envío gratis desde $ 2.500</h4>
                <p class="pfoot">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </section>
        <section>
            <article>
                <div class="security">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="tfoot">Seguridad, de principio a fin</h4>
                <p class="pfoot">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    
                </p>
            </article>
        </section>
        </div>
        <section>
            <article>
                <div class="ultim">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            </article>
        </section>
    </footer>
</body>
</html>