

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


img {
    width: 100%;
}

body {Font-family: 'Roboto';
      /* background-color: #ebebeb; */
      margin: 0;      
      background-color: #ebebeb;
}


header {
    display: flex;
    background-color: #eac926;
    flex-direction: column;
}

div.top-header{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.logo-bar-container{
    /* border: 3px solid gray; */
    display: flex;
    align-items: center;
    
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

header div.logo{
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

header div.form{
    
    /* border: 3px solid pink; */
    display: flex;
    width: 50%;
    height: 20%;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

.card-container{
   /*  border: 3px solid gray;  */
    text-align: center;
}

header div.smenu{
    margin-bottom: 20px;
}

header div.menu i{
    display: flex;
    text-align: center;
    background-color: #1259c3;
    color: white;
    /* border: 1px solid; */
    font-size: 20px;
    height: 40px;
    margin: auto;
    padding: 10px;
    width: 38px;
    border-radius: 5px;
}




header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

header ul li{
     list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.p1 {text-align: center;}

header.form{
    display: flex;
}

header .form .input{
    
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    width: 70%;
    height: 20%;
}



header .form .submit{
   
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header .form .submit i{
    width: 38px;
}

main {
    
        width: 90%;
        margin: 0 auto;
      
}


div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
  
}

article div.main-article{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    justify-content: space-between;  
}

section.banner img{
    width: 100%;
}


main section article{
    background-color: #fff;
    width: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}

main section article img{
    width: 100%;
   padding: auto;
   /* border-bottom: 1px solid #ebebeb; */
   

}



main section article i,
.discount{
    color: #39b54a;
    margin-top: 10px;
    width: 78%;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -25px;
  }

h2 {
    font-size: 24px;
}

 p.precio {
    font-size: 18px;
    width: 30%;
}

p.descuento{
    font-size: 16px;
    width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

.description {
    /* display: none; */
    margin-top: 20px;
  }

p{
    font-size: 16px;
}

.card {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

.gif {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

.security {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

footer section article i {
    margin-top: 10px;;
    font-size: 2em;
    color: #1259c3;
}

.tfoot {
    margin:10px auto 0px auto;
    text-align: center;
}

.pfoot{
    text-align: center;
    margin-top:0px;
}

.ultim {

    margin: 30px 30px;
}

@media (min-width: 444px) {
    main section article .description {
      display: block;
    }
  
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    main section div.products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    main section div.products article {
      width: 45%;
    }
  
    .price,
    .discount {
      width: 70%;
    }
  }
  
  @media (min-width: 769px) {
    main section div.products article {
      width: 22%;
    }
  }


