

*{
    margin: 0px;
    padding: 0px;
}


img {
    width: 100%;
}

body {Font-family: 'Roboto';
      /* background-color: #ebebeb; */
      margin: 0;      
      background-color: #ebebeb;
}


header {
    display: flex;
    background-color: #eac926;
    flex-direction: column;
}

div.top-header{
    display: flex;
    flex-direction: column;
    
}

.logo-bar-container{
    /* border: 3px solid gray; */
    display: flex;
    align-items: center;
}

header div.logo{
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: column;
}

header div.form{
    
    /* border: 3px solid pink; */
    display: flex;
    width: 90%;
    height: 20%;
    justify-content: center;
}

.card-container{
   /*  border: 3px solid gray;  */
    text-align: center;
}

/* header div.smenu{
    /* border: 3px solid red; */
   /*  margin-bottom: 20px; */

header div.menu{
    display: flex;
    border: 1px solid black;
    text-align: center;
    background-color: #1259c3;
    color: white;
    /* border: 1px solid; */
    width: 15px;
    padding: 9px;
    margin: 20px auto;
    border-radius: 5px;
    
}

header nav{
    font-size: 12px;
    display: none;
}

header ul li{
     list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.p1 {text-align: center;}

header.form{
    display: flex;
}

header .form .input{
    
    background-color: #FFF;
    border: none;
    /* outline: none; */
    color: #666;
    width: 70%;
    height: 20%;
}



header .form .submit{
   
    background-color: #FFF;
    border: none;
    color: #666;
    width: 10%   ;
    margin-left: 5PX;
}



main {
    margin: auto;
    /*background-color: #ebebeb;*/
    width: 90%;
}

article div.main-article{
    width: 100%;
}

section.banner img{
    width: 100%;
}


main section article{
    background-color: #fff;
    width: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}

main section article img{
    width: 100%;
   padding: auto;
   border-bottom: 1px solid #ebebeb;
   

}



main section article i,
.discount{
    color: #39b54a;
    margin-top: 10px;
}


h2 {
    font-size: 24px;
}

 p.precio {
    font-size: 18px;
}

p.descuento{
    font-size: 16px;
}

.uv1{
    background-size: 1200px;
    background-color: white;
    
}

p{
    font-size: 16px;
}

.card {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

.gif {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

.security {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

footer section article i {
    margin-top: 10px;;
    font-size: 2em;
    color: #1259c3;
}

.tfoot {
    margin:10px auto 0px auto;
    text-align: center;
}

.pfoot{
    text-align: center;
    margin-top:0px;
}

.ultim {

    margin: 30px 30px;
}

@media (min-width: 444px) {
    main section article .description {
      display: block;
    }
  
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    main section div.products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    main section div.products article {
      width: 45%;
    }
  
    .price,
    .discount {
      width: 50%;
    }
  }
  
  @media (min-width: 769px) {
    main section div.products article {
      width: 22%;
    }
  }


