

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


img {
    width: 100%;
}

body {Font-family: 'Roboto';
      /* background-color: #ebebeb; */
      margin: 0;      
      background-color: #ebebeb;
}


header {
    display: flex;
    background-color: #eac926;
    flex-direction: column;
}

div.top-header{
    display: flex;
    flex-direction: column;
    padding: 5%;
    
}

.logo-bar-container{
    /* border: 3px solid gray; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 10px;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

header div.logo{
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    width: 50%;
}

div.search{
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    width: 50%;
    padding: -8px;
    align-items: center;
    margin-left: 10px;
} 

header div.form{
    
    /* border: 3px solid pink; */
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    padding: 8px;
    font-size: 9px;
    
}

.card-container{
   /*  border: 3px solid gray;  */
    text-align: center;
    margin: auto;
    width: auto;

}

header div.smenu{
    margin-bottom: 20px;
}

header div.menu i{
    display: flex;
    text-align: center;
    background-color: #1259c3;
    color: white;
    /* border: 1px solid; */
    font-size: 20px;
    height: 40px;
    margin: auto;
    padding: 10px;
    width: 38px;
    border-radius: 5px;
}




header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

header ul li{
     list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.p1 {text-align: center;}

header .form input{
    display: flex;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
   /*  justify-content: center; */
    align-items: center;
    overflow: hidden;
}

header .form .input{
    display: flex;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
   /*  justify-content: center; */
    align-items: center;
    overflow: hidden;
}



header .form .submit{
    display: flex;
    background-color: white;
    border: none;
    color: #666;
    padding: 6px;
    margin-left: -23px;
    border-radius: 5px 5px 5px 5px;
    /* width: 15% */;
}

/* header .form .submit i{
    width: 100%;
} */

main {
    
        width: 90%;
        margin: 0 auto;
      
}


div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
  
}

article div.main-article{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    justify-content: space-between;  
}

section.banner img{
    width: 100%;
}


main section article{
    background-color: rgb(255, 255, 255);
    width: 92%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    

}

main section article img{
    width: 100%;
   padding: auto;
   /* border-bottom: 1px solid #ebebeb; */
   

}

main section article .price{
    height: 30%;
    margin-top: 10px;
    width: 50%;
}

main section article i,
.discount{
    color: #39b54a;
    margin-top: 10px;
    width: 50%;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -25px;
  }

h2 {
    font-size: 24px;
}

 p.precio {
    font-size: 18px;
    width: 30%;
}

p.descuento{
    font-size: 16px;
    width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

h3,
.description {
  color: #666;
}

.description {
     
    margin-top: 20px;
  }

p{
    font-size: 16px;
}

.card {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

.gif {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

.security {
    text-align: center;
    /* padding: 0.2px; */
    margin: 60px auto 10px auto;
}

footer section article i {
    margin-top: 10px;;
    font-size: 2em;
    color: #1259c3;
}

.tfoot {
    margin:10px auto 0px auto;
    text-align: center;
}

.pfoot{
    text-align: center;
    margin-top:0px;
}

.ultim {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.ultim p{
    font-size: 15px;
}

footer section article i:hover{
    color: #39b54a;
}
/* Registro y login...............................................................................*/

.btn,
.btn-secondary {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px;
}
.btn {
  background-color: #0044aa;
  margin-bottom: 5px;
  margin-top: 10px;
}

.btn:hover{
    background-color: #0022AA;
}

.btn-secondary {
  background-color: #a1a1a1;
}

.form-register,
.form-login {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.form-login input,
.form-register input,
.form-register .btn {
  margin-bottom: 30px;
}

main input{
    border-radius: 5px 5px 5px 5px;
    border: 0;
    padding: 5px;
    margin: 10px
}

.register h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

input:invalid {
    border: 5px solid red;
  }

  input:required {
    border-color: #800000;
    border-width: 3px;
  }
  
  input:required:invalid {
    border-color: #C00000;
  }

/* Termina Registro y Login................................................................................... */

@media (min-width: 445px) {
    
    .description{
        display: none;
    }

    main section article:hover .description{
        display: initial;
        opacity: 1;
        transition: transform 0.7s ease;
    }
    
    main section article:hover i{
        transform: rotate(270deg);
        transition: transform 0.7s ease;
    }

    main section article{
        box-shadow: 0px 0px 10px white;
        
    }
  
    main section article:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      transition: transform 0.7s ease;
    }
    
    main section article .discount{
    color: #39b54a;
    margin-top: 10px;
    width: 50%;
    }


    main section div.products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    main section div.products article {
      width: 45%;
    }
  
    .price,
    .discount {
      width: 70%;
    }
  }
  
  @media (min-width: 769px) {
    main section div.products article {
      width: 22%;
    }

    main section article .discount{
        color: #39b54a;
        margin-top: 10px;
        width: 46%;
        }

        header nav{
            font-size: 12px;
            /* margin-left: 20px; */
            display: flex;
            justify-content: space-between;
            margin-bottom: -2px;
            margin-left: -2px;
            width: auto;
        }


        main section article .description {
            width: 100%;
            
          }

          header div.smenu{
            display: none;
        }

        header div.top-header{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            
            padding: 10px;
        }

        ul{
            display: flex;
            justify-content: space-around;
            padding: 14PX;
        }

        li{
            padding: 14px;
            font-size: 18px;
        }

        .logo{
            padding: 0;
            /* margin-right: 40px; */
            margin: auto;
            padding: 24px;
        }

        .logo-bar-container{
           width: 60%;
        }
        
        .search{
            width: 70%;
        }
        
        .info{
            display: flex;
        }
  }


